{{ 'footer.css' |  asset_url |  stylesheet_tag }}

<footer >
  
    <div class="social-icons-block">
        <ul class="social-icons">
        {% if settings.social_instagram_link %}
          <li class="social-icon social-icon--instagram">
            <a
              href="{{ settings.social_instagram_link | escape }}"
              aria-label="Instagram"
              target="_blank" rel="noopener noreferrer"
            >
              <img
                src="{{ 'icon-instagram.png' | asset_url }}"
                alt="Instagram icon"
                width="27" height="27"
              />
            </a>
          </li>
        {% endif %}

        {% if settings.social_youtube_link %}
          <li class="social-icon social-icon--youtube">
            <a
              href="{{ settings.social_youtube_link | escape }}"
              aria-label="YouTube"
              target="_blank" rel="noopener noreferrer"
            >
              <img
                src="{{ 'icon-youTube.png' | asset_url }}"
                alt="YouTube icon"
                width="27" height="27"
              />
            </a>
          </li>
        {% endif %}
      </ul>
      </div>
    
      <div class="policies-block">
        {%- if section.settings.show_policy -%}
          <ul >
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
      <div class="copyright-block">
        <small 
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
      </div>
    
  
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    }
  
  ]
}
{% endschema %}
