{{- 'flickity.css' | asset_url | stylesheet_tag -}}
{{- 'flickity.pkgd.min.js' | asset_url | script_tag -}}
{{- 'custom-gallery-slider.css' | asset_url | stylesheet_tag -}}
<script
  src="{{ 'custom-testimonials-slider.js' | asset_url }}"
  type="module"
  defer="defer"></script>

<h1>this is the gallery slider</h1>
<div class="carousel js-flickity" data-flickity='{ "wrapAround": true, "autoPlay": 3000 }'>
  {% for block in section.blocks %}
    {% if block.settings.image %}
      <div class="carousel-cell">
        <img src="{{ block.settings.image | image_url: width: 800 }}" alt="Slide image">
      </div>
    {% endif %}
  {% endfor %}
</div>
{ 
    "name": "Image carousel",
    "settings": [],
    "presets": [
    {
      "name": "Gallery Slider"
    }
  ],
    "blocks": [
        {
            "type": "image",
            "name": "image slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id":"image",
                    "label": "Slide image"
                }
            ]
        }
    ]
}{% endschema %}