{{ 'header.css' | asset_url | stylesheet_tag }}
<div class="width" style="width:{{ settings.page-width }}px">
  <a
    href="/"
    class="header-logo"
    style="max-width: {{ section.settings.logo_width }}px;">
    <img
      src="{{ section.settings.logo | image_url: width: section.settings.logo-width }}"
      alt="{{ shop.name }}"
      width="{{ section.settings.logo-width }}">
  </a>
  <h1>Header</h1>
</div>


{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      }, {
        "type": "range",
        "id": "logo-width",
        "label": "Logo width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      }
    ]
  }
{% endschema %}