{{ 'header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<div class="width">
  <div class="header-flex">
      <a
    href="/"
    class="header-logo"
    style="max-width: {{ section.settings.logo_width }}px;">
    <img
      src="{{ section.settings.logo | image_url: width: section.settings.logo-width }}"
      alt="{{ shop.name }}"
      width="{{ section.settings.logo-width }}">
  </a>

  <button id="hamburguer" class="hamburguer">{% render 'hamburguer-menu' %} </button>

  <ul class="header-nav">
    {% for link in section.settings.navigation.links %}
    <li><a href="{{link.url}}">{{link.title}}</a>
    {% if link.links != blank %}
      <ul class="header-sub">
        {% for child in link.links %}
          <li class="header-sub-itme">
            <a class="header-sub-anchor" href="{{child.url}}">{{child.title}}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    </li>
    {% endfor %}
    <li class="cart-element"><a  href="/cart">{% render 'shopping-cart' %}</a></li>
  </ul>
  </div>
</div>

<div class="header-nav-overlay"></div>

<script>
  
</script>

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
       {
        "type": "range",
        "id": "logo-width",
        "label": "Logo width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      },
      {
        "type": "link_list",
        "id": "navigation",
        "label": "Navigation menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}